<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){

            $('#search_bar').submit(function(e){
                e.preventDefault()
                $.ajax({
                    url: "search",
                    method: "POST",
                    data: $(this).serialize(),
                    success: function(serverResponse){
                        console.log(serverResponse);
                        $('#games').html(serverResponse);
                        $('#search_bar').trigger('reset');
                    }
                })
            })
            $('#reset').submit(function(e){
                e.preventDefault()
                $.ajax({
                    url: "reset",
                    method: "POST",
                    data: $(this).serialize(),
                    success: function(serverResponse){
                        $('#games').html(serverResponse);
                        $('#search_bar').trigger('reset');
                    }
                })
            })
        });
    </script>

    <title>Playground</title>
</head>
<body>

    <h1>Welcome to the Playground, {{user.first_name}} {{user.last_name}}!</h1>
    <a href="/logout">Logout</a><br><br>

    <form action="create_new_game" method="POST">
        {% csrf_token %}
        <input type="submit" value="Create a New Game!">
    </form><br>


<form action="search" method="POST" id="search_bar">
    {% csrf_token %}
    <h3>Search By:</h3>
    <input type="text" name="sport" placeholder="Sport">
    <input type="text" name="location" placeholder="Location">
    <input type="text" name="date" placeholder="Date">
    <input type="text" name="time" placeholder="What Time">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="zipcode" placeholder="Zip Code">
    <input type="text" name="state" placeholder="State">
    <input type="submit" value="Search">
</form><br>

<form action="reset" method="POST" id="reset">
    {% csrf_token %}
    <input type="submit" value="Reset Search">
</form><br>

<div id="games">
    <table>
        <h3>View All Games</h3>
        <tr>
            <th>Details</th>
            <th>Join</th>
            <th>Originator</th>
            <th>Sport</th>
            <th>Location</th>
            <th>What Day</th>
            <th>Meet Up Time</th>
            <th>City</th>
            <th>Zip Code</th>
            <th>State</th>
            <th>Comments</th>
        </tr>
        {% for this_game in all_games %}
        <tr>
            <td><a href="view_game/{{this_game.id}}">View Game</a></td>
            <td><a href="join_game/{{this_game.id}}">Join</a></td>
            <td>{{this_game.captain.first_name}} {{this_game.captain.last_name}}</td>
            <td>{{this_game.sport}}</td>
            <td>{{this_game.location}}</td>
            <td>{{this_game.date}}</td>
            <td>{{this_game.time}}</td>
            <td>{{this_game.city}}</td>
            <td>{{this_game.zipcode}}</td>
            <td>{{this_game.state}}</td>
            <td>{{this_game.comment}}</td>
        </tr>
        {% endfor %}
    </table>
</div><br>


    <table>
        <h3>View My Games</h3>
        <tr>
          <th>Details</th>
          <th>Remove From List</th>
          <th>Originator</th>
          <th>Sport</th>
          <th>What Day</th>
          <th>Meet Up Time</th>
          <th>Comments</th>
        </tr>
        {% for user_game in all_games %}
            {% if user in user_game.joiner.all %}
            <tr>
                <td><a href="view_game/{{user_game.id}}">View Game</a></td>
                <td><a href="remove_my_game/{{user_game.id}}">Remove</a></td>
                <td>{{user_game.captain.first_name}} {{user_game.captain.last_name}}</td>
                <td>{{user_game.sport}}</td>
                <td>{{user_game.date}}</td>
                <td>{{user_game.time}}</td>
                <td>{{user_game.comment}}</td>
            </tr>
            {% endif %}
        {% endfor %}
      </table>

</body>
</html>