<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){

            $('#search_bar').submit(function(e){
                e.preventDefault()
                $.ajax({
                    url: "search",
                    method: "POST",
                    data: $(this).serialize(),
                    success: function(serverResponse){
                        console.log(serverResponse);
                        $('#games').html(serverResponse);
                        $('#search_bar').trigger('reset');
                    }
                })
            })
            $('#reset').submit(function(e){
                e.preventDefault()
                $.ajax({
                    url: "reset",
                    method: "POST",
                    data: $(this).serialize(),
                    success: function(serverResponse){
                        $('#games').html(serverResponse);
                        $('#search_bar').trigger('reset');
                    }
                })
            })
        });
    </script>


    <title>Playground</title>
</head>

<body class="container">

<div class="header p-4">
    <div class="row">
        <div class="col-8">
            <h2>Welcome to the Playground, {{user.first_name}} {{user.last_name}}!</h2>
        </div>

        <div class="col">
            <form action="create_new_game" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-info" value="Create a New Game!">
            </form>
        </div>

        <div class="col">
            <a href="/logout">Logout</a>
        </div>
    </div>
</div>

<div class="searchbar">
    <form action="search" method="POST" id="search_bar">
        {% csrf_token %}
        <h3>Search By:</h3>
    <div class="form-row">
    
        <div class="form-group col" >
            <input type="text" class="form-control" name="sport" placeholder="Sport">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="location" placeholder="Location">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="date" placeholder="Date">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="time" placeholder="What Time">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="city" placeholder="City">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="zipcode" placeholder="Zip Code">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="state" placeholder="State">
        </div>
        <div class="col">
            <input type="submit" class="btn btn-info btn-xs p-1 d-inline" value="Search">
        </div>

        </form>
    </div>
</div>



<form action="reset" method="POST" id="reset">
    {% csrf_token %}
    <input type="submit" value="Reset Search">
</form><br>


<div class="header" id="games">
    <table class="table table-hover table-bordered text-nowrap small">
        <h3>View All Games</h3>
        <tr>
            <th>Details</th>
            <th>Join</th>
            <th>Originator</th>
            <th>Sport</th>
            <th>Location</th>
            <th>What Day</th>
            <th>Meet Up Time</th>
            <th>City</th>
            <th>Zip Code</th>
            <th>State</th>
            <th>Comments</th>
        </tr>
        {% for this_game in all_games %}
        <tr>
            <td><a href="view_game/{{this_game.id}}">View Game</a></td>
            <td><a href="join_game/{{this_game.id}}">Join</a></td>
            <td>{{this_game.captain.first_name}} {{this_game.captain.last_name}}</td>
            <td>{{this_game.sport}}</td>
            <td>{{this_game.location}}</td>
            <td>{{this_game.date}}</td>
            <td>{{this_game.time}}</td>
            <td>{{this_game.city}}</td>
            <td>{{this_game.zipcode}}</td>
            <td>{{this_game.state}}</td>
            <td>{{this_game.comment}}</td>
        </tr>
        {% endfor %}
    </table>
</div><br>


    <table>
        <h3>View My Games</h3>
        <tr>
          <th>Details</th>
          <th>Remove From List</th>
          <th>Originator</th>
          <th>Sport</th>
          <th>What Day</th>
          <th>Meet Up Time</th>
          <th>Comments</th>
        </tr>
        {% for user_game in all_games %}
            {% if user in user_game.joiner.all %}
            <tr>
                <td><a href="view_game/{{user_game.id}}">View Game</a></td>
                <td><a href="remove_my_game/{{user_game.id}}">Remove</a></td>
                <td>{{user_game.captain.first_name}} {{user_game.captain.last_name}}</td>
                <td>{{user_game.sport}}</td>
                <td>{{user_game.date}}</td>
                <td>{{user_game.time}}</td>
                <td>{{user_game.comment}}</td>
            </tr>
            {% endif %}
        {% endfor %}
      </table>

</body>
</html>