<div class="reset" id="games">
    <table class="table table-hover table-bordered d-inline-block table-striped">
        <h3 class="pl-0">View All Games</h3>
        <tr>
            <thead class="thead-dark">
                <th>Details</th>
                <th>Join</th>
                <th>Originator</th>
                <th>Sport</th>
                <th>Location</th>
                <th>What Day</th>
                <th>Meet Up Time</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>State</th>
                <th>Comments</th>
            </thead>
        </tr>
        {% for this_game in all_games %}
        <tr>
            <td><a href="view_game/{{this_game.id}}" class="badge badge-info m-0 pr-1 pl-1 pt-1 pb-1 border border-info">View Game</a></td>
            <td><a href="join_game/{{this_game.id}}" class="badge badge-info m-0 pr-1 pl-1 pt-1 pb-1 border border-info">Join</a></td>
            <td>{{this_game.captain.first_name | title}} {{this_game.captain.last_name | title}}</td>
            <td>{{this_game.sport | title}}</td>
            <td>{{this_game.location | title}}</td>
            <td>{{this_game.date}}</td>
            <td>{{this_game.time}}</td>
            <td>{{this_game.city | title}}</td>
            <td>{{this_game.zipcode}}</td>
            <td>{{this_game.state}}</td>
            <td>{{this_game.comment}}</td>
        </tr>
        {% endfor %}
    </table>
</div><br>