<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Success, Game Created</title>
</head>

<body id="container" class="container mt-3 mr-0 mb-1 ml-4 pr-0">
    
    <div id="title" class="header d-inline-block mb-3 p-2 pl-3">
        <h1>Game Details</h1>
        <h4>Hi {{user.first_name}}, See Your {{game_id.sport | title}} Game Details Below:</h4>
    </div><br>

    <div id="sport" class="game_details d-inline-block pt-3 pr-4 pb-2 pl-3 mb-3">
        <p id="d_first" class="font-weight-bold">What Are We Playing?</p>
        <p>{{game_id.sport}}</p>
        <p id="d_second" class="font-weight-bold">When Are We Playing?</p>
        <p>{{game_id.date}}</p>
        <p id="d_third" class="font-weight-bold">What Time Are We Playing?</p>
        <p>{{game_id.time}}</p>
        <p id="d_fourth" class="font-weight-bold">Additonal Comments:</p>
        <p>{{game_id.comment}}</p>
    </div>

    <div id="location" class="location d-inline-block pt-3 pb-3 pl-3 mb-3 text-left pr-4">
        <address class="font-weight-bold mb-1" id="location_header">Location Details:</address>
        <address class="mb-1"> <span class="font-weight-bold">Location: </span>{{game_id.location}}</address>
        <address class="mb-1"> <span class="font-weight-bold">City: </span>{{game_id.city}}</address>
        <address class="mb-1"> <span class="font-weight-bold">Zip Code: </span>{{game_id.zipcode}}</address>
        <address class="mb-1"> <span class="font-weight-bold">State: </span>{{game_id.state}}</address>
    </div>

    <div id="joins" class="joins pt-3 pb-1 pl-3 mb-3 pr-4">
        <h3 id="j_title">See Everyone Who Has Joined:</h3>
        {% for player in players %}
            <p id="j_info">{{player.first_name}} {{player.last_name}}</p>
        {% endfor %}
    </div>

    <div id="clicks" class="buttons d-inline-block pt-3 pb-3 pr-1 pl-1 text-center mb-4">
        <form action="/sports/confirm" class="d-inline-block" method="POST">
            {% csrf_token %}
            <input type="submit" id="b1" class="d-inline-block btn btn-info" value="Confirm and Return to Playground">
        </form>

        {% if user.id == game_id.captain.id %}

        <form action="/sports/edit/{{game_id.id}}" class="d-inline-block" method="POST">
            {% csrf_token %}
            <input type="submit" id="b2" class="d-inline-block btn btn-warning" value="Edit Game">
        </form>

        <form action="/sports/delete/{{game_id.id}}" class="d-inline-block" method="POST">
            {% csrf_token %}
            <input type="submit" id="b3" class="d-inline-block btn btn-danger" value="Delete Game">
        </form>
    </div>

    {% endif %}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>